body {
    background-color:#FFE5CC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    color:white;
    position: relative;
}

.logo {
    width: 250px;
    height: auto;
    
}
.navbar {
    display: flex;
    justify-content: center;
    flex:1;
}

.navbar a {
    text-decoration:none;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    border-radius: 5px;  
    padding:10px 30px;
    min-width: 150px;
    border:2px solid black;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease; 

}

.navbar a:hover {
    background-color:#aa8b62;
}

.images-container{
    display:flex;
    justify-content:space-between;
}

.image{
    width:33%;
    height:auto;
    border-radius:10px;
}

.our_story{
    position:relative;
    padding:40px 200px;
    text-align:center;
    background-image:url('images/coffee.jpg');
    background-size:cover;
    background-position:center;
    border-radius:10px;
}


.text-box {
    background-color: #FFE5CC;
    border: 2px solid #ddd;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    min-height: 300px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-box h2 {
    margin-top: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.text-box p {
    margin-bottom:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.text-box button {
    background-color: #FFE5CC ;
    color:black;
    border-radius:5px;
    padding:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

.text-box button:hover{
    background-color:#aa8b62;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.flip-card-front {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: transform 0.5s ease; 
}

.flip-card-back {
    background-color: #333;
    color: white;
    border-radius: 10px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}